image_artefacts/*
emulator/prebuilts/*
emulator/.env
out/*
venv/
docker-compose.yaml
nexus/.env
nexus/nexus_data/*
.idea/*
.idea
.idea/
start_fmd-aecs.sh
start_fmd-aecs_2.sh
docker-images.txt
docker_images.txt
env/envoy/*
env/envoy/envoy.yaml
/env/envoy/envoy.yaml
./docker_images.txt