# FOR DEBUG/TESTING PURPOSES ONLY - DO NOT USE IN PRODUCTION
#,'username':'webrtc','credential':'turnpassword'
ADBKEY="-----BEGIN PRIVATE KEY-----
MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC7vAweHOt3ADUg
sxyPnn7+hTiA3AfwK48KvaKGW7IVx9Cz+1D3bLHUuuIZ1G4/r1daKR8NwION18Zi
xcHcQLZmXd7KRmyOksdTA9buBBiZZRzoAbTV+VAK1V2pblrdG8jYWN/m+hPxwWob
7Sg9N2CklspWs8vPK1KrwySdV62GqwbjwyjBIvtHKznukXTLWCYC3pwRUahMm6Mn
upjmeS+0bB3cM+eHAIQaJZk93Q1eGIBB7TW25sobFyEUGs5RJHXfiSUao4/eMDTb
+knA+qEfwaTHju0bh2vaj5qO8LukNd979BH8YRXPV//28zgCnpGqCniVty3e4Lbp
mPiPKRNrAgMBAAECggEAGSUFiHj+JA5f5J/TflGlF8kBzuc+8Zub8+fUtLiOYIgb
+3yjP73hZFPy7wZlYoaaersm63bIB/+zv3dWUP5NOpEYbduYiaYTfW/Lt03Oz6jb
13VMYnEbQpWJDyWhP5vg6Z1JwUw9z0kabGAg3ht53cGhReicroRSdSqqJPWL3+Kd
4ymVVRwVsE+eV3Tl2TpWruSJU7lPbE/tmsmF2rZDjTZMgEY94wX12RatN6l87mJx
hmp5CaKqRKm2DYZWieKFWYqNGlqj7a9bS3hbB5U2mwctDpuSUYlMXQ80bjE0evn3
lhBU6I0kk1WZnS5kXsUjfavACLoqRPSznq1Qa0XFWQKBgQDmq3uTrt0mlUJ7t/u9
6WidRe1JT+MJOA0JCuQb1FGjFe1oaut1TlfIlOyYXSM257fIU4waoOxD3kaXjm+Y
IkKPSzE5VEhISrMZPUHbVcubLG0jcfKin9onX8+GemEckDGaw113UgG/pThJBjdS
nWS9TDz68fl/XwjafQxr45VSGQKBgQDQWZTRxrhTiek1xnXULesBq81cru7blAY2
XnuuYEwGt2pYhw1OTDQllb5afDbzPxryAuHGh8Mp2Y8ieQFCYIc2TGhU21kKT83x
QQuBjCWcu6WoTybWpNlBUb5CxUdRYQbXwdc1e68BTT9L2G9cxmk6h6gA8+6rDLLA
hGrIuNTqIwKBgGk7ThMfsRBLA5uBYb1P4EPvhMLvSPoJshiv+USg5eVquXXrYSOQ
7Ac7uXwA8XG44GTpiH8VbvO/UaEOf+Z9qrPIb9phkuA4A+C9y2+OgmZ2LAwBjdmW
52UTFo+ZAPiQ57Bc9CTdKqMNctINnet4ll6tixxIi7QJ3PYgGiyWFKbxAoGBAJ0R
S22xv7fKmfMeQCnKzAWgfNrITe1e9Cf8poTYt7fAgf1nIpLKQ+2pq60PQ2WxRyD3
JznBk1FzX8J/MoHVv1kh1O1TxxZM/1ZG0OPCwYAcvk/aC894ywfBFgvEKXWiDcSN
ry30pgP3NiZ5bcqlESM8rVy6iEyO8BrOOKpFHM29AoGBAJy0a/aTlsT/L4qtBjfL
aBHCUnHsIO3rnd2JQ5D+WE8Y9/4rBP3q4h6tmSlNdLteyrMQ/s80bIm/+p+dLXjB
cLF/IL06kPq3p7dqpHM/TjrpUK5BIwUfnpe1wb32LuLHLMwMJBItSZFGHIN09Atg
6rgDc955uqi1eaTK7ND8KvzF
-----END PRIVATE KEY-----"
TURN='printf {"iceServers":[{"credential":"turntest","urls":["turn:fmd-aosp.init-lab.ch"],"username":"turntest"}]}'